name: Build and lint

on:
  - push
  - pull_request

jobs:
  build-and-lint:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        run: |
          brew update
          brew install llvm cmake
      - name: Setup clang-format
        run: |
          echo "CLANG_FORMAT_PATH=$(brew --prefix llvm)/bin/clang-format" >> $GITHUB_ENV
      - name: Check format
        run: |
          find . -name '*.[ch]' -not -path '*/.*' | xargs $CLANG_FORMAT_PATH --style=file --dry-run -Werror
      - name: Configure
        run: |
          cmake . -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
      - name: Build
        run: |
          cmake --build build
      - name: Lint
        run: |
          $(brew --prefix llvm)/bin/run-clang-tidy -p=build
